# Python
__pycache__/
*.py[cod]

# Data & Models
*.nc
*.npy
*.npz
*.pth
*.h5
*.csv
*.pt
*.png

#Apple nonsense
.DS_Store

*~

# Ignore experiment configs except template
experiments/*.yaml
experiments/*
!experiments/template.yaml